<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="add-emp">Add Emp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="emp-details">Emp Detail</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="data-binding">Data Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="if-directive">strutural Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="attribute-directive">Attribute Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cf-ng-if"><span>&#64;</span> if/else</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cf-for"><span>&#64;</span>For</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipe">Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tForm">TForm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rForm">RForm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="getAPI">getAPI-Integration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="postAPI">postAPI-Integration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="apiCallWithService">Service-API-Integration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lifeCycle">LifeCycle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ng-template">ng-template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ng-container">ng-container</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view-child">ViewChild</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
  <router-outlet></router-outlet>
</div>