<div class="login-form">
    <div class="login-box">

        <div class="login-name">
            <h1>Login</h1>
            <div class="underline-name"></div>
        </div>

        <form action="">

            <div class="input-box">
                <div class="inputs">
                    <input type="username" placeholder="Enter your username" required name="username"
                        [(ngModel)]="userObj.username">
                    <div class="underline-input"></div>
                </div>

                <div class="inputs">
                    <input type="password" placeholder="Enter your Password" required name="password"
                        [(ngModel)]="userObj.password">
                    <div class="underline-input"></div>
                </div>

                <div class="submit-button">
                    <button class=" btn btn-primary text-center" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>

        <div class="text">
            or connect with Social Media
        </div>

        <div class="twitter-btn">
            <button class="btn"><i class='bx bxl-twitter'></i>
                Sign in with Twitter</button>
        </div>

        <div class="facebook-btn">
            <button class="btn"><i class='bx bxl-facebook'></i>
                Sign in with Facebook</button>
        </div>
    </div>
</div>